* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 60px 5%;
    background-image: url(images/background-principal.jpg);
    color: white;
    background-color: black;
}

section.initial {
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    background-color: black;
    opacity: 70%;
    position: relative;
    top: 100px;
}

section.initial h1 {
    padding: 10px 4%;
    bottom: 100px;
    font-size: 30px;
    position: relative;
}

section.initial h3 {
    padding: 10px 4%;
    bottom: 70px;
    font-size: 22px;
    position: relative;
}

section.initial h4 {
    padding: 10px 10%;
    bottom: 75px;
    font-size: 17px;
    position: relative;
}

section.initial button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid gray;
  }
  
  section.initial button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid gray;
    box-shadow: 4px 5px 17px -4px gray;
  }
  
  section.initial button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgb(75, 75, 75);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  section.initial button:hover::before {
    width: 250%;
  }
  